{{> head}}

  {{> navbar}}


  <div class="row">
    <div class="col-8">
      <h1>About the author</h1>
      <p>My name is Erlinis Quintana, yep I know, it is aquite weird name.</p>
    </div>

    <div class="col-4">
      <img src="assets/img/about-fabulous.png" alt="..." class="img-thumbnail">
    </div>
  </div>

{{> footer}}
